<html>
	<head>
    	<meta charset="UTF-8">
    	<title>Hydra: Board Game Engine</title>
    	<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	</head>

    <body id="games-page">



        <!-- Navigation bar -->
        <div class="nav-container">
			<div class="header">Hydra</div>
			<div class="search-box">
				<div class="search-text">
					Search
				</div>
			</div>
			<div class="search-button">
				<div class="search-button-text">
					Search
				</div>
			</div>

			<div class="nav-items">
				<p class="nav-item" style="order: 0;"> Home </p>
				<p class="nav-item" style="order: 1;"> <a href="/hydra/games">Games</a> </p>
				<p class="nav-item" style="order: 2;"> Settings </p>
				<p class="nav-item" style="order: 3;"> Documentation </p>
			</div>
		  </div>

          <br> <br> <br> 



           
          <div class="grid-row">
            <% games1.forEach(function(game) { %>
                <div class="game-card">
                    <div class="game-card-title"><%= game.name %></div>
                    <div class="game-card-summary">
                        <%= game.description %>
                    </div>

                    <div class="game-card-button-frame">
                        <div class="game-card-button">
                            <div class="game-card-button-text"> <a href=" <%= game.deployment_route %>">View Environment</a></div>
                        </div>
                    </div>
                </div>
            <% }); %>
          </div>

          <br> <br> 


          <div class="grid-row">
            <% games2.forEach(function(game) { %>
                <div class="game-card">
                    <div class="game-card-title"><%= game.name %></div>
                    <div class="game-card-summary">
                        <%= game.description %>
                    </div>

                    <div class="game-card-button-frame">
                        <div class="game-card-button">
                            <div class="game-card-button-text"> <a href="/tictactoe/game">View Environment</a></div>
                        </div>
                    </div>
                </div>
            <% }); %>
          </div>


          <!-- Grid card view -->
          <!-- <div class="grid-row">
            <div class="game-card">
                <div class="game-card-title">Tic Tac Toe</div>
                <div class="game-card-summary">
                    Tic-tac-toe, noughts and crosses, or Xs and Os is a paper-and-pencil game for two players who take turns marking the spaces in a three-by-three grid with X or O. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.
                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text"> <a href="/tictactoe/game">View Environment</a></div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-title">Connect 4</div>
                <div class="game-card-summary">
                    Connect Four (also known as Connect 4, Four Up, Plot Four, Find Four, Captain's Mistress, Four in a Row, Drop Four, and Gravitrips in the Soviet Union) is a two-player connection board game, in which the players choose a color and then take turns dropping colored tokens into a seven-column, six-row vertically suspended.
                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
                
            </div>

            <div class="game-card">
                <div class="game-card-title">2048</div>
                <div class="game-card-summary">
                    2048 is a popular single-player game for Web and mobile. It’s a type of “sliding block puzzle” — think Threes!, on which 2048 is based, or the old-timey game klotski that’s played on an almost Sudoku-like grid. Like Sudoku, it also involves some math. The object of the game is to combine the numbers displayed on the tiles until you reach 2048.                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
            </div>

          </div>

          <br> <br> <br> 

          <div class="grid-row" id="game-grid-row">
            <div class="game-card" id="game-card">
                <div class="game-card-title">Tic Tac Toe</div>
                <div class="game-card-summary">
                    Tic-tac-toe, noughts and crosses, or Xs and Os is a paper-and-pencil game for two players who take turns marking the spaces in a three-by-three grid with X or O. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.
                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-title">Connect 4</div>
                <div class="game-card-summary">
                    Connect Four (also known as Connect 4, Four Up, Plot Four, Find Four, Captain's Mistress, Four in a Row, Drop Four, and Gravitrips in the Soviet Union) is a two-player connection board game, in which the players choose a color and then take turns dropping colored tokens into a seven-column, six-row vertically suspended.
                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
                
            </div>

            <div class="game-card">
                <div class="game-card-title">2048</div>
                <div class="game-card-summary">
                    2048 is a popular single-player game for Web and mobile. It’s a type of “sliding block puzzle” — think Threes!, on which 2048 is based, or the old-timey game klotski that’s played on an almost Sudoku-like grid. Like Sudoku, it also involves some math. The object of the game is to combine the numbers displayed on the tiles until you reach 2048.                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
            </div>

          </div>

          <br> <br> <br> 


          <div class="grid-row">
            <div class="game-card">
                <div class="game-card-title">Tic Tac Toe</div>
                <div class="game-card-summary">
                    Tic-tac-toe, noughts and crosses, or Xs and Os is a paper-and-pencil game for two players who take turns marking the spaces in a three-by-three grid with X or O. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.
                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-title">Connect 4</div>
                <div class="game-card-summary">
                    Connect Four (also known as Connect 4, Four Up, Plot Four, Find Four, Captain's Mistress, Four in a Row, Drop Four, and Gravitrips in the Soviet Union) is a two-player connection board game, in which the players choose a color and then take turns dropping colored tokens into a seven-column, six-row vertically suspended.
                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
                
            </div>

            <div class="game-card">
                <div class="game-card-title">2048</div>
                <div class="game-card-summary">
                    2048 is a popular single-player game for Web and mobile. It’s a type of “sliding block puzzle” — think Threes!, on which 2048 is based, or the old-timey game klotski that’s played on an almost Sudoku-like grid. Like Sudoku, it also involves some math. The object of the game is to combine the numbers displayed on the tiles until you reach 2048.                </div>

                <div class="game-card-button-frame">
                    <div class="game-card-button">
                        <div class="game-card-button-text">View Environment</div>
                    </div>
                </div>
            </div>

          </div> -->

          <script src="../js/games.js"></script>


    </body>
</html>
